<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
        <property name="pattern_console">
            %d{HH:mm:ss} [%t] %-5level %logger{1} - %msg%n
        </property>
        <property name="pattern_file">
            %d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </property>
    </Properties>
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <RollingFile name="FileRolling" fileName="${LOG_DIR}/text_log.log" append="true"
                     filePattern="${LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH_mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="15 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="File" fileName="${LOG_DIR/}new_log.log" immediateFlush="false"
                     append="false" filePattern="${ARCHIVE_LOG_DIR}/%d{yyyy-MM-dd_HH_mm}_%i.log.zip">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Log_Console" level="debug" additivity="false">
            <Appender-ref ref="Console"/>
        </Logger>
        <Logger name="Rolling_File" level="debug" additivity="false">
            <Appender-ref ref="FileRolling"/>
        </Logger>
        <Root level="debug">
            <Appender-ref ref="Console" level="error"/>
            <Appender-ref ref="FileRolling"/>
        </Root>
    </Loggers>
</Configuration>