<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Книга рецептов | Вход</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/uikit.js}"></script>
</head>

<body>
<div class="uk-grid-collapse" data-uk-grid>
    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center" data-uk-height-viewport>
        <div class="uk-width-3-4@s">
            <div class="uk-text-center uk-margin-medium-bottom">
                <h1 class="uk-h2 uk-letter-spacing-small">Авторизоваться на Книге рецептов</h1>
            </div>
            <form action="#" th:action="@{/login}" method="post" class="uk-text-center">
                <div class="uk-width-1-1 uk-margin">
                    <label class="uk-form-label" for="username">Электронная почта</label>
                    <input id="username" name="username" class="uk-input uk-form-large uk-border-pill uk-text-center" type="email" placeholder="tom@company.com">
                </div>
                <div class="uk-width-1-1 uk-margin">
                    <label class="uk-form-label" for="password">Пароль</label>
                    <input id="password" name="password" class="uk-input uk-form-large uk-border-pill uk-text-center" type="password" placeholder="Min 8 characters">
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <input class="uk-button uk-button-primary uk-button-large" type="submit" value="Войти"/>
                </div>
                <div class="uk-width-1-1 uk-margin uk-text-center">
                    <p class="uk-text-small uk-margin-remove">
                        <a class="uk-link-border" href="/home">Вернуться на главную</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center uk-light" data-uk-height-viewport>
        <div class="uk-background-cover uk-background-norepeat uk-background-blend-overlay uk-background-overlay
      uk-border-rounded-large uk-width-1-1 uk-height-xlarge uk-flex uk-flex-middle uk-flex-center">
            <div class="uk-padding-large">
                <div class="uk-text-center">
                    <h2 class="uk-letter-spacing-small">Добро пожаловать</h2>
                </div>
                <div class="uk-margin-top uk-margin-medium-bottom uk-text-center">
                    <p>Введите свои данные и присоединитесь к нашему кулинарному сообществу</p>
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <a href="/registration" class="uk-button uk-button-primary uk-button-large">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<body>-->
<!--<section class="container">-->
<!--    <div class="mx-auto border my-5 py-3 px-3 form">-->
<!--        <form action="#" th:action="@{/login}" method="post">-->
<!--            <div class="form-group">-->
<!--                <label for="email">Email или имя</label>-->
<!--                <input class="form-control" id="email" type="text" name="username">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password">Пароль</label>-->
<!--                <input class="form-control" id="password" type="password" name="password">-->
<!--            </div>-->
<!--&lt;!&ndash;            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>&ndash;&gt;-->
<!--            <input class="button" type="submit" value="Вход"/>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->
</body>
</html>